version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - dependencies
    commit-message:
      prefix: "github-actions"
    cooldown:
      default-days: 7
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    labels:
      - dependencies
    commit-message:
      prefix: "npm"
    cooldown:
      default-days: 7
  - package-ecosystem: "composer"
    directory: "/" 
    schedule:
      interval: "weekly"
    labels:
      - dependencies
    allow:
      - dependency-type: "all"
    commit-message:
      prefix: "composer"
    cooldown:
      default-days: 7
