name: Backend CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  QA:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: [ '8.4' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, pdo, pdo_mysql
          coverage: none

      - name: Cache Composer dependencies
        uses: actions/cache@v5
        with:
          path: vendor
          key: composer-${{ runner.os }}-${{ hashFiles('composer.lock') }}
          restore-keys: composer-

      - name: Install dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Run PHP-CS-Fixer (lint)
        run: composer lint

      - name: Run PHPStan
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            vendor/bin/phpstan analyse --configuration=phpstan.neon --no-progress
          else
            vendor/bin/phpstan analyse --configuration=phpstan.dev.neon --no-progress
          fi
